#app {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);

}

@media only screen and (min-width: 900px) {
    .diceContainer {
        grid-column: 2;
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        margin-top: 1vh;
    }

    .lockedDice {
        grid-column: 2;
        grid-row: 2;
        border: solid black 2px;
        
    }

    #diceposition {
        grid-column: 2;
        grid-row: 2;
    }

    #rollposition {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        margin-top: 16vh;
        margin-bottom: 5vh;
    }

    #scoreposition {
        grid-column: 2;
        grid-row: 1;
        border: solid black 1px;
        background-color: aqua;
    }

    .usedScore{
        text-decoration: line-through;
        border: solid black 1px;
        background-color: aqua;
        grid-column: 2;
        grid-row: 2;
    }
}

@media only screen and (max-width: 899px) {
    .diceContainer {
        grid-column: 1 / span 3;
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        margin-top: 1vh;
    }

    .lockedDice {
        grid-column: 2;
        grid-row: 2;
        border: solid black 2px;
        
    }

    #diceposition {
        grid-column: 2;
        grid-row: 2;
    }

    #rollposition {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;

    }

    #scoreposition {
        grid-column: 1 / span 3;
        grid-row: 1;
        border: solid black 1px;
        background-color: aqua;
    }

    .usedScore{
        text-decoration: line-through;
        border: solid black 1px;
        background-color: aqua;
        grid-column: 2;
        grid-row: 2;
    }

}